body {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.header {
  padding-bottom: 22vh;
}

.container {
  background-color: blanchedalmond;
  max-width: 70vw;
}

.greeting {
  font-size: 10vw;
}

.nav li {
  font-family: Arial, sans-serif;
  font-display: bold;
}

a {
  transition: background-color 1s ease, color 1s ease;
  color: black;
}

a:hover {
  color: white;
  background-color: black !important;
}

.blurb {
  font-size: 5.2vmin;
}

#cl {
  color: #ff6d7d;
}

#cl:hover {
  color: white;
  text-decoration: none;
}

#pdl {
  color: #bf74bb;
}

#pdl:hover {
  color: white;
  text-decoration: none;
}

#upe {
  color: #03b1ff;
}

#upe:hover {
  color: white;
  text-decoration: none;
}

#portrait {
  height: auto;
  width: 100%;
  margin-bottom: 5vh;
}

#text_div {
  display: none;
}

@media (max-width: 1024px) {
  #portrait,
  #picture_div {
    display: none !important;
  }

  #text_div {
    display: block !important;
  }
}

li {
  font-size: 3vmin;
}
