body {
  margin: 0;
}

#landing_blurb {
  position: absolute;
  top: 60%;
  left: 10%;
  display: inline-block;
  font-size: 5vmin;
  font-family: "Crimson Text", serif;
}

#arrow {
  display: none;
  position: absolute;
  bottom: 11vh;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: max-content;
  animation: scroll_down 1.2s infinite alternate;
}

@keyframes scroll_down {
  0% {
    transform: translateY(0vmin);
  }
  100% {
    transform: translateY(2vmin);
  }
}

#arrow img {
  height: 6vmin;
  width: auto;
}

#sticky_header {
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  height: 10vh;
  top: 0;
  z-index: 1;
}

#sticky_header img {
  height: 10vh;
  margin-left: 1%;
}

#bottom_header {
  height: 10vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  bottom: 0;
}

#push_sticky {
  height: 90vh;
}

#about_section {
  height: auto;
  width: 100%;
}

#flex_1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 100%;
}

#flex_1 img {
  height: 55vmin;
  width: 55vmin;
  margin: 15vmin 1.5vmin 15vmin 1vmin;
}

#description {
  height: 50%;
  width: 50%;
  margin: 15vmin 1vmin 15vmin 1.5vmin;
  font-size: 3vmin;
  font-family: "Martel", serif;
}

#flex_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}

#work_title {
  font-family: "Crimson Text", serif;
  font-size: 4.5vmin;
  margin: 15vmin 1vmin 0.5vmin 1vmin;
}

#flex_2 ul {
  font-size: 3vmin;
  font-family: "Martel", serif;
  list-style-type: none;
  margin: 0.5vmin 1vmin 15vmin 1vmin;
}

a {
  transition: color 0.75s ease;
  text-decoration: none;
  color: black;
}

a:focus,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

#flex_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
}

#contact_title {
  font-family: "Crimson Text", serif;
  font-size: 4.5vmin;
  margin: 15vmin 1vmin 0.5vmin 1vmin;
}

#contact_icons_div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  width: 50%;
  margin: 0.5vmin 1vmin 35vmin 1vmin;
}

#contact_icons_div img {
  height: 10vmin;
  width: 10vmin;
}

/* GROW animation */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#push_about {
  height: 10vh;
  width: 100vw;
}

.description_link {
  font-weight: bold;
}

@media (max-width: 1024px) and (max-height: 1366px) {
  #flex_1 img {
    display: none;
  }

  #description {
    text-align: center;
    margin: 15vmin 1vmin 15vmin 1vmin;
  }
}
