html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

h1 {
	text-align: center;
}

#typing {
	font-size: 9vmin;
	font-family: 'IBM Plex Mono', monospace;
}

a:hover {
	text-decoration: none !important;
}

.wrap {
	color: black;
	animation: blink-caret .70s step-end infinite;
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: black; }
}

#blurb {
	font-family: 'Amiko', sans-serif;
	font-size: 6.5vmin;
}

.header {
	font-family: 'Ubuntu', sans-serif;
	font-size: 7vmin;
	font-weight: bold;
}

.body {
	font-family: 'Rubik', sans-serif;
	font-size: 4.6vmin;
}

.rightside {
	text-align: right;
	font-weight: bold;
}

.school {
	font-weight: bold;
}

/*Progress Bar*/
.progress .progress-bar {
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
@keyframes animateBar {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(0);}
}

.carouselimg {
	left: 50%;
	right: 50%;
}

.carousel-inner > .item > img{
margin:auto;
}

.carousel-control.left, 
.carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 30px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.wrapper img {
    height: 50%;
    width: 50%;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
	color: black;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(238, 238, 238, 0.90);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}

.projTitle {
	color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 6vmin;
    font-weight: bold;
}

.body2 {
	font-family: 'Rubik', sans-serif;
	font-size: 3vmin;
	color: black;
}

/* navbar */
.navbar-default {
    background: rgba(238, 238, 238, .75) !important;
    border-color: #E7E7E7;
}

.menu {
	font-size: 3vmin;
}

/*Scroll down button*/
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 10vmin;
  left: 50%;
  right: 50%;
  margin-left: -16px;
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid black;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid black;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}